$white: #ffffff;
$brown: #5D4037;

$primary: #3B82F6;

$grey-1: #FCFCFC;
$grey-2: #E5E5E5;
$grey-3: #EFF6FF;
$grey-4: #F1F5F9;
$grey-5: #1E293BAD;
$grey-6: #707070;
$grey-7: #475569;
$grey-8: #3E3E3E;
$grey-9: #0F172A;
$grey-10: #1E293B;

$secondary: #FB923C;
$secondary-1: #FDBA74;

$red-80: #F44336;
$red-100: #B71C1C;

$primary-font: "Roboto", sans-serif;
$secondary-font: 'Noto Sans', sans-serif;