$white: #EDF2F4;
$brown: #5D4037;

$primary-80: #dfd2bf;
$primary-100: #f2c514;

$secondary-80: #8D99AE;
$secondary-100: #2B2D42;

$primary-font: "Montserrat", sans-serif;
$secondary-font: 'Open Sans', sans-serif;